html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
    background-color: whitesmoke;
}

body {
    margin-bottom: 60px;
    background-color: whitesmoke;
}

/* Navbar */
.navbar {
    background-color: transparent !important;
    background: #12173bff !important;
    border: black !important;
    font-size: 24px;
    display: flex;
    align-items: center; /* Voeg dit toe om de elementen verticaal uit te lijnen */
}

.navbar-brand {
    color: white !important;
    margin-left: 2%;
    font-size: 30px;
    display: flex;
    align-items: center; /* Voeg dit toe om de elementen verticaal uit te lijnen */
}

.nav-link, .navbar-nav {
    color: white !important;
}

.navbar-light .navbar-nav .dropdown-menu {
    background: #12173bff !important;
    border: none;
}

.navbar-light .navbar-nav .dropdown-menu .dropdown-item {
color: white !important;
}

.navbar-light .navbar-nav .dropdown-menu .dropdown-item:hover,
.navbar-light .navbar-nav .dropdown-menu .dropdown-item:focus {
    background-color: #27315ef2 !important;
}

/* Footer */
.footer {
    background: #12173bff !important;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: white !important;
}

/* Cards HomePage*/
.card-hover {
    transition: transform 0.5s ease;
    cursor: pointer;
}

.card-hover:hover {
    transform: translateY(-10px);
}

.card-img-top{
    max-width: 75%;
}

.custom-table-container {
    overflow-x: hidden;
}

.card-title{
    color: black;
}

.card:hover {
    cursor: pointer;
    border: 2px solid #27315ef2;
}

a {
    text-decoration: none !important;
}
.a-nav-link {
    text-decoration: underline !important;
    color: #384272f2 !important;
}

@media (max-width: 575.98px) {
    .card {
        width: 90%;
        margin: 0 auto;
    }
    .img-desktop {
        display: none;
    }
}

@media (min-width: 575.99px) {
    .img-mobile {
        display: none;
    }
}

.custom-row {
    display: flex;
    flex-wrap: wrap;
}

.notes-container {
    width: 100%;
    margin-bottom: 0px;
}

.custom-team-info-container {
    width: 100%;
}

.editButton {
    background-color: #7b7ba5 !important;
    border: none !important;
    color: white !important;
}

.editButton:hover {
    background-color: #5b5974 !important;
}

.editButton:active:focus, .editButton:focus {
    box-shadow: 0 0 0 0.2rem #a9a6d1;
}

.btn-danger{
    background-color: #b63f3fff !important;
}

.btn-danger:hover {
    background-color: #8a2525ff !important;
}

.deleteButton:active:focus, .deleteButton:focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 0, 0, 0.5);
}

.addButton {
    background-color: #314087f2 !important;
    border: none;
}

.addButton:hover {
    background-color: #27315ef2 !important;
}

.addButton:active:focus, .addButton:focus {
    box-shadow: #4657a5e5 !important;
}