html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cff;
}

html {
    position: relative;
    min-height: 100%;
    background-color: whitesmoke;
}

body {
    margin-bottom: 60px;
    background-color: whitesmoke;
}

/* Navbar */
.navbar {
    background-color: transparent !important;
    background: #12173bff !important;
    border: black !important;
}

.navbar-brand {
    color: white !important;
}

.nav-link, .navbar-nav {
    color: white !important;
}

.navbar-light .navbar-nav .dropdown-menu {
    background: #12173bff !important;
    border: none;
}

.navbar-light .navbar-nav .dropdown-menu .dropdown-item {
color: white !important;
}

.navbar-light .navbar-nav .dropdown-menu .dropdown-item:hover,
.navbar-light .navbar-nav .dropdown-menu .dropdown-item:focus {
    background-color: #27315ef2 !important;
}

/* Footer */
.footer {
    background: #12173bff !important;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: white !important;
}

/* Cards HomePage*/
.card-hover {
    transition: transform 0.5s ease;
    cursor: pointer;
}

.card-hover:hover {
    transform: translateY(-10px);
}

.card-img-top{
    max-width: 75%;
}

.custom-table-container {
    overflow-x: hidden;
}

.card-title{
    color: black;
}

.card:hover {
    cursor: pointer;
    border: 2px solid #27315ef2;
}

a {
    text-decoration: none !important;
}
.a-nav-link {
    text-decoration: underline !important;
    color: #384272f2 !important;
}

@media (max-width: 575.98px) {
    .card {
        width: 90%;
        margin: 0 auto;
    }
    .img-desktop {
        display: none;
    }
}

@media (min-width: 575.99px) {
    .img-mobile {
        display: none;
    }
}

.custom-row {
    display: flex;
    flex-wrap: wrap;
}

.notes-container {
    width: 100%;
    margin-bottom: 0px;
}

.custom-team-info-container {
    width: 100%;
}

.addButton {
    background-color: #314087f2 !important;
    border: none;
}

.addButton:hover {
    background-color: #27315ef2 !important;
}

.addButton:focus {
    box-shadow: #4657a5e5 !important;
}